Repository radoslavirha/toolkit-hub, changes with the labels that .github/labeler.yml gives for each.
All labels: @radoslavirha/config-eslint, @radoslavirha/config-tsup, @radoslavirha/config-typescript, @radoslavirha/config-vitest, @radoslavirha/types, @radoslavirha/utils, @radoslavirha/tsed-configuration, @radoslavirha/tsed-platform, @radoslavirha/tsed-swagger

.github/labeler.yml:

# Packages
'@radoslavirha/config-eslint':
- changed-files:
  - any-glob-to-any-file:
    - 'config/config-eslint/*'

'@radoslavirha/config-tsup':
- changed-files:
  - any-glob-to-any-file:
    - 'config/config-tsup/*'

'@radoslavirha/config-typescript':
- changed-files:
  - any-glob-to-any-file:
    - 'config/config-typescript/*'

'@radoslavirha/config-vitest':
- changed-files:
  - any-glob-to-any-file:
    - 'config/config-vitest/*'

'@radoslavirha/types':
- changed-files:
  - any-glob-to-any-file:
    - 'packages/types/*'

'@radoslavirha/utils':
- changed-files:
  - any-glob-to-any-file:
    - 'packages/utils/*'

'@radoslavirha/tsed-configuration':
- changed-files:
  - any-glob-to-any-file:
    - 'tsed/configuration/*'

'@radoslavirha/tsed-platform':
- changed-files:
  - any-glob-to-any-file:
    - 'tsed/platform/*'

'@radoslavirha/tsed-swagger':
- changed-files:
  - any-glob-to-any-file:
    - 'tsed/swagger/*'

# Branches
release:
- base-branch: 'main'

feature:
- head-branch: ['^feature', 'feature']

bugfix:
- head-branch: ['^bugfix', 'bugfix', '^bug', 'bug']

hotfix:
- head-branch: ['^hotfix', 'hotfix']

Improve SwaggerController
  .changeset/eleven-horses-think.md
  tsed/swagger/README.md
  tsed/swagger/src/controllers/SwaggerController.integration.spec.ts
  tsed/swagger/src/controllers/SwaggerController.ts
Labels: @radoslavirha/tsed-swagger

Improve SwaggerController
  .changeset/yellow-foxes-hammer.md
  config/config-tsup/src/index.ts
  pnpm-lock.yaml
  tsed/platform/src/index.ts
  tsed/swagger/CHANGELOG.md
  tsed/swagger/README.md
  tsed/swagger/package.json
  tsed/swagger/src/controllers/SwaggerController.integration.spec.ts
  tsed/swagger/src/controllers/SwaggerController.ts
Labels: @radoslavirha/tsed-swagger

SwaggerController trouble
  .changeset/empty-foxes-change.md
  config/config-tsup/package.json
  config/config-tsup/src/index.ts
  tsed/swagger/package.json
  tsed/swagger/tsup.config.ts
Labels: @radoslavirha/config-tsup, @radoslavirha/tsed-swagger

Try __dirname fix
  .changeset/smooth-cats-vanish.md
  tsed/swagger/src/controllers/SwaggerController.ts
  tsed/swagger/tsup.config.ts
Labels: @radoslavirha/tsed-swagger

Move @tsed/platform-http to peerDependencies in swagger module
  .changeset/chilled-experts-wait.md
  pnpm-lock.yaml
  tsed/swagger/package.json
Labels: @radoslavirha/tsed-swagger

Directly use PlatformViews in swagger module
  .changeset/pink-mails-peel.md
  tsed/swagger/src/controllers/SwaggerController.ts
Labels: none

@Inject(PlatformViews) in swagger module
  .changeset/thin-mugs-sit.md
  tsed/swagger/src/controllers/SwaggerController.ts
Labels: none

Fix SwaggerController and views
  .changeset/hungry-ligers-eat.md
  config/config-tsup/package.json
  pnpm-lock.yaml
  tsed/swagger/package.json
  tsed/swagger/src/controllers/SwaggerController.ts
  tsed/swagger/src/controllers/views/swagger.ejs
Labels: @radoslavirha/config-tsup, @radoslavirha/tsed-swagger
